body{
    background-color:burlywood;
}


h1{
    text-align:center;
    margin: 20px 10px 0px;
    padding: 0px 30px 0px 30px;
    margin-bottom: 50px;
}

#mal_buttons{
    text-align:center;
    
    
}
#btn_student{
    cursor:pointer;
    margin-right: 40px;
    margin-bottom: 50px;
}
#tableheading{
    text-align:center;
    margin-right: 900px;
}
#percentage{
    text-align:center;
    margin-right: 750px;
}
#percentagestudentyear{
    margin-left: 75px;
}
#percentageform{
    margin-left : 40px
}
#showbutton{
    margin-top : 20px
}
#resetbutton{
    margin-top : 20px
}
/* #percentagetable{
    display: none
} */
#percentagetablebottom{
    margin-top : 20px
}
#topfive{
    text-align:center;
    margin-right: 850px;
}
/* #threebutton{
    background-color: darkgray;
}  */